@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;


}

#container{
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.411);
    justify-content: center;
    align-items: center;
    padding: 20px ;
      width: 624px;
      height: 488px;
   
}
img{
width: 576px;
height: 320px;
margin-top: 10px;


}
#container .home ,#container2 .favoritos,#container2 .home2{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 10px;
    border-radius: 8px;
    box-shadow: #fff;
    gap: 10px;
    
   
}

#container .home i,#container2 .home2 i{
    text-align: center;
 
   
 
}
#container button ,#container2 button{
justify-content: center;
text-align: center;
align-items: center;
border:none;
background-color:transparent;
font-size: 20px;
cursor: pointer;
margin-top: 20px;
width: 40px;
gap: 60px;
padding-left: 100px;
}



#container2 img{
    width:189px ;
    height: 189px;
    padding: 4px;
    gap: 4px;
}

#container2 .favoritos{
    display: grid;
    grid-template-columns: 100px 100px ;
    align-items: center;
    justify-content: start;
    padding: 6px 10px;
    border-radius: 8px;
    box-shadow: #fff;
    gap: 16px;
}
.secao{
    display: none;
}

#container2{
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.411);
    justify-content: center;
    align-items: center;
    padding: 10px ;
      width: 624px;
      height: auto;
}